@mixin grid-container($columns: 8, $content-width: 1008px, $gutter: 1em, $outer: true) {
  display: grid;
  grid-gap: $gutter;
  @if (not $outer) {
    grid-template-columns:
      [main-start]
        repeat($columns, [col-start] 1fr)
      [main-end]
    ;
  } @else {
    grid-template-columns:
      [full-start]
        minmax(calc(calc(100% - #{$content-width}) / 2), 1fr) // outside gutter
        [main-start]
          repeat($columns, [col-start] 1fr)
        [main-end]
        minmax(calc(calc(100% - #{$content-width}) / 2), 1fr) // outside gutter
      [full-end]
    ;
  }
}